# Controls when the workflow will run
on:
  workflow_call:
    inputs:
      checkout_commit:
        description: Commit ID you want to checkout
        type: string
        required: true
      tfswitchDir:
        type: string
        description: "Specify the location of a .tf file with the terraform constraint defined to automatically download the latest terraform version in the defined range. Defaults to the repos root level."
        default: "."
      GITHUB_BASE_REF:
        description: target branch merging into
        type: string
        required: true
      GITHUB_HEAD_REF:
        description: source branch coming from
        type: string
        required: true

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  Infrastructure_Tests:
    name: Infrastructure Test
    runs-on: ubuntu-latest
    defaults:
      run:
        shell: bash
    container:
      image: icr.io/goldeneye_images/goldeneye-ci-image:stable
      env:
        TF_VAR_ibmcloud_api_key: ${{ secrets.IBMCLOUD_API_KEY }}
        IC_API_KEY: ${{ secrets.IBMCLOUD_API_KEY }}
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v6
        with:
          token: ${{ secrets.GH_TOKEN }}
          submodules: true
          ref: ${{ inputs.checkout_commit }}
          # Clone all branches and history. This is needed for the upgrade tests
          fetch-depth: 0

      # Workaround for https://github.com/actions/runner/issues/2033
      - name: Set ownership
        run: |
          chown -R $(id -u):$(id -g) $PWD

      # Install dependencies
      - name: Install dependencies
        env:
          TFSWITCH_DIRECTORY: ${{ inputs.tfswitchDir }}
        run: |
          make dependency-install-darwin-linux

      # run unit tests
      - name: Unit Tests
        run: |
          export GITHUB_BASE_REF=${{inputs.GITHUB_BASE_REF}}
          export GITHUB_HEAD_REF=${{inputs.GITHUB_HEAD_REF}}
          make run-tests
